@mixin clock-display-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.clock-panel-container {
  @include clock-display-format;
  max-width: 580px;
  margin: 0 auto;
}

.clock-panel {
  @include clock-display-format;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 50px;
  width: 100%;
  border-radius: 10px;
  padding: 40px 0;
}

.clock-header-container {
  button {
    margin-right: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    border-style: none;
    border-radius: 8px;
    padding: 5px 15px;
    cursor: pointer;
  }
  :focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.clock-timer {
  font-size: 8rem;
  margin: 20px 0;
}

.clock-start-button {
  min-width: 250px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: rgb(200 200 200) 0px 6px 0px;
}

.clock-stop-button {
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  left: 20px;
}
