li {
  padding: 10px;
  background: white;
  color: black;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;

  .task-item-title {
    width: 92%;
    display: flex;
    align-items: center;

    .title {
      font-size: 1.1rem;
      font-weight: 600;
    }
    .check-icon {
      margin-right: 10px;
    }
  }
  .trash-icon {
    font-size: 1.2rem;
    cursor: pointer;
  }

  .note {
    background-color: rgb(250, 244, 209);
    width: 80%;
    padding: 10px;
    margin: 10px auto;
  }
}
